*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

li {
  list-style-type: none;
}

html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Recoleta Regular";
  src: url("../sources/fonts/Recoleta-Regular.eot");
  src: url("../sources/fonts/Recoleta-Regular.eot?#iefix") format("embedded-opentype"), url("../sources/fonts/Recoleta-Regular.woff") format("woff"), url("../sources/fonts/Recoleta-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta Medium";
  src: url("../sources/fonts/Recoleta-Medium.eot");
  src: url("../sources/fonts/Recoleta-Medium.eot?#iefix") format("embedded-opentype"), url("../sources/fonts/Recoleta-Medium.woff") format("woff"), url("../sources/fonts/Recoleta-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

.title {
  color: #fbfaf7;
  font-family: "Recoleta Medium";
  font-weight: bold;
}

.main-text {
  font-family: "Noto Sans";
  font-size: 18px;
  color: #fbfaf7;
  line-height: 27px;
}

.text {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #fbfaf7;
  line-height: 21px;
}

.text--color {
  color: #163a24;
}

.main-text--color {
  color: #163a24;
}

.title--color {
  color: #163a24;
}

.link {
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 400;
  color: #198c36;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.btn {
  height: 52px;
  background-color: #198c36;
  font-family: "Noto Sans";
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 160px;
  padding: 15px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.link-btn {
  display: inline-block;
  height: 52px;
  background-color: #198c36;
  font-family: "Noto Sans";
  font-size: 16px;
  color: #fff;
  border-radius: 160px;
  padding: 17px 25px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:focus {
  outline: none;
}

.btn:hover,
.link-btn:hover {
  background-color: #04611b;
}

.text-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 990px;
}

.text-img-item {
  height: 190px;
  width: 380px;
}

.text-img-item--img-left-margin {
  margin-left: 90px;
}

.text-img-item--img-right-margin {
  margin-right: 115px;
}

.container-big-img {
  width: 490px;
  height: 490px;
}

.container-small-img {
  width: 490px;
  height: 420px;
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: 642px;
  background-color: #163a24;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1180px;
  height: 98px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 544px;
  width: 1180px;
  background-color: #163a24;
}

.header__container {
  width: 475px;
  height: 295px;
  margin-right: 22px;
}

.header__img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  height: auto;
  width: 738px;
  height: 580px;
}

.header__title {
  max-width: 100%;
  width: 391px;
  line-height: 66px;
}

.header__text {
  max-width: 100%;
  width: 475px;
  height: 81px;
  margin-top: 18px;
}

.logo__header {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  width: 153px;
  height: auto;
}

/* Actions section */
.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 341px;
}

.actions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 176px;
}

.actions__item {
  font-size: 16px;
  font-family: "Noto Sans";
  color: #fff;
  text-decoration: none;
}

.actions__btn {
  width: 141px;
}

/* Features section */
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 1050px;
  background-color: #fff;
}

.features__container {
  margin-top: 120px;
}

.features__title {
  width: 376px;
  margin-bottom: 27px;
  line-height: 54px;
}

/* Partners section */
.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 415px;
  width: 896px;
  margin: 0 auto;
}

.partner__title {
  margin-top: 115px;
  margin-bottom: 66px;
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 896px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Offers section */
.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 568px;
  background-color: #163a24;
}

.offers__title {
  width: 825px;
  height: 60px;
  margin: 66px auto;
}

.offers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1230px;
  margin: 0 auto;
}

.offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.offers__img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 28px;
}

/* Employees section */
.employees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 775px;
  background-color: #f2efe6;
}

.employees__title {
  width: 739px;
  margin: 114px auto 27px;
  text-align: center;
}

.employees__text {
  width: 760px;
  text-align: center;
  margin: 0 auto;
}

.employees__img {
  width: 1180px;
  height: 335px;
}

/* Capabilities section */
.capabilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 1396px;
  background-color: #fff;
}

.capabilities__container {
  margin-top: 182px;
}

.capabilities__container-title {
  margin-bottom: 27px;
}

.capabilities__title {
  margin-top: 115px;
}

.capabilities__text {
  margin-top: 26px;
}

.capabilities__cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1139px;
  height: 430px;
  margin-top: 18px;
}

/* Card section */
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 353px;
  height: 393px;
  background-color: #fbfaf7;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 20px #e9e4d5;
          box-shadow: 5px 5px 20px #e9e4d5;
}

.card--higher {
  height: 430px;
}

.card__inner {
  width: 273px;
  height: 293px;
  margin: 50px 40px;
}

.card__img {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.card__title {
  line-height: 31.5px;
  margin-top: 30px;
}

.card__list {
  margin-top: 23px;
}

.card__text {
  position: relative;
  margin-bottom: 15px;
  padding-left: 25px;
  font-size: 16px;
  font-family: "Noto Sans";
  line-height: 22px;
  color: #163a24;
}

.card__text::before {
  content: "";
  position: absolute;
  background-color: #163a24;
  top: 7px;
  left: 6px;
  height: 8px;
  width: 8px;
  border-radius: 8px;
}

/* Price section */
.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 602px;
  background-color: #f2efe6;
}

.price__title {
  width: 360px;
  margin: 114px auto 26px;
}

.price__text {
  margin-bottom: 19px;
}

.price__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1125px;
  height: 180px;
}

.price__item {
  width: 260px;
  text-align: center;
}

.price__item-title {
  margin-top: 13px;
}

.price__item-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 290px;
  height: 183px;
  background-image: url(../sources/img/circles.png);
}

.price__background-text {
  width: 225px;
  text-align: center;
  margin-top: 40px;
}

.price__background-title {
  margin-top: 20px;
}

.price__btn {
  margin-top: 5px;
  width: 244px;
}

/* Book section */
.book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 753px;
  background-color: #fff;
}

.book__container {
  margin-left: 228px;
  margin-top: 130px;
}

.book__img {
  width: 490px;
  height: 490px;
}

.book__title {
  margin-bottom: 25px;
}

.book__text {
  margin-bottom: 19px;
}

.book__btn {
  width: 191px;
}

/* Starting section */
.starting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 415px;
  background-color: #163a24;
  overflow: hidden;
}

.starting__img-left {
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.starting__img-right {
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.starting__container {
  text-align: center;
}

.starting__title {
  margin-top: 114px;
}

.starting__text {
  margin-top: 26px;
}

.starting__btn {
  background-color: #fab5a0;
  color: #163a24;
  font-weight: 600;
  margin-top: 18px;
  width: 259px;
}

.starting__btn:hover {
  background-color: #af735f;
}

/* Subscription section */
.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 240px;
  background-color: #f2efe6;
}

.subscriprion__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1143px;
  height: 107px;
  margin: 60px 167px 73px 130px;
}

.subscription__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscription__form {
  position: relative;
  width: 553px;
  height: 54px;
  background-color: #fff;
  border-radius: 255px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscription__form-area {
  width: 445px;
  height: 54px;
  margin: auto 20px;
  border: none;
  outline: none;
  font-family: "Noto Sans";
  font-size: 18px;
}

.subscription__form-button {
  position: absolute;
  width: 111px;
  background-color: #15762e;
}

.subscription__form-text {
  width: 524px;
  height: 42px;
}

.subscription__link {
  margin-left: 10px;
}

/* Footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 194px;
  background-color: #fff;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  width: 1180px;
  height: 123px;
}

.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 242px;
  height: 42px;
}

.footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
  height: 25px;
}

.footer__hr {
  width: 100%;
  width: 1180px;
  height: 1px;
  background-color: #f2efe6;
  margin: 0 auto;
  border: none;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1180px;
  height: 70px;
  margin: 0px 130px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 403px;
  height: 19px;
}
/*# sourceMappingURL=style.css.map */