*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

li {
  list-style-type: none;
}

html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Recoleta Regular";
  src: url("../sources/fonts/Recoleta-Regular.eot");
  src: url("../sources/fonts/Recoleta-Regular.eot?#iefix") format("embedded-opentype"), url("../sources/fonts/Recoleta-Regular.woff") format("woff"), url("../sources/fonts/Recoleta-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta Medium";
  src: url("../sources/fonts/Recoleta-Medium.eot");
  src: url("../sources/fonts/Recoleta-Medium.eot?#iefix") format("embedded-opentype"), url("../sources/fonts/Recoleta-Medium.woff") format("woff"), url("../sources/fonts/Recoleta-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

.title {
  color: #fbfaf7;
  font-family: "Recoleta Medium";
  font-weight: bold;
}

.main-text {
  font-family: "Noto Sans";
  font-size: 18px;
  color: #fbfaf7;
  line-height: 27px;
}

.text {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #fbfaf7;
  line-height: 21px;
}

.text--color {
  color: #163a24;
}

.main-text--color {
  color: #163a24;
}

.title--color {
  color: #163a24;
}

.link {
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 400;
  color: #198c36;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.btn {
  height: 52px;
  background-color: #198c36;
  font-family: "Noto Sans";
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 15px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.link-btn {
  display: inline-block;
  height: auto;
  background-color: #198c36;
  font-family: "Noto Sans";
  font-size: 16px;
  color: #fff;
  border-radius: 160px;
  padding: 17px 25px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}

.btn:focus {
  outline: none;
}

.btn:hover,
.link-btn:hover {
  background-color: #04611b;
}

.text-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 990px;
}

.text-img-item {
  height: 190px;
  width: 380px;
}

.text-img-item--img-left-margin {
  margin-left: 90px;
}

.text-img-item--img-right-margin {
  margin-right: 115px;
}

.container-big-img {
  width: 100%;
  max-width: 490px;
  height: 490px;
}

.container-small-img {
  width: 100%;
  max-width: 490px;
  height: 420px;
}

.logo__link {
  display: block;
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #163a24;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1180px;
  width: 100%;
  height: 98px;
  padding: 5px;
}

.logo__header {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-width: 153px;
  height: auto;
  min-width: 105px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 544px;
  width: 100%;
  max-width: 1180px;
  background-color: #163a24;
}

.header__container {
  max-width: 475px;
  width: 100%;
  height: 320px;
  margin-right: 12px;
  padding: 10px;
}

.header__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-width: 738px;
  height: auto;
}

.header__title {
  line-height: 66px;
  max-width: 391px;
  width: 100%;
  height: auto;
}

.header__text {
  width: 100%;
  max-width: 375px;
  height: auto;
  margin-top: 18px;
}

/* Actions section */
.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 341px;
}

.actions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 176px;
  white-space: nowrap;
}

.actions__item {
  font-size: 16px;
  font-family: "Noto Sans";
  color: #fff;
  text-decoration: none;
}

.actions__btn {
  width: 100%;
  max-width: 141px;
}

/* Features section */
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 1050px;
  background-color: #fff;
}

.features__container {
  margin-top: 120px;
}

.features__title {
  margin-bottom: 27px;
  line-height: 54px;
}

/* Partners section */
.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 415px;
  width: 100%;
  max-width: 896px;
  margin: 0 auto;
}

.partner__title {
  margin-top: 115px;
  margin-bottom: 66px;
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 896px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.partners__logo {
  width: 100%;
  max-width: 110px;
  height: 100%;
}

.partners__img {
  width: 100%;
  max-width: 110px;
}

/* Offers section */
.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 568px;
  background-color: #163a24;
}

.offers__title {
  height: 60px;
  margin: 66px auto;
  text-align: center;
}

.offers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.offers__img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 28px;
}

/* Employees section */
.employees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 775px;
  background-color: #f2efe6;
}

.employees__title {
  width: 100%;
  max-width: 739px;
  margin: 114px auto 27px;
  padding: 0 15px;
  text-align: center;
}

.employees__text {
  width: 100%;
  max-width: 760px;
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
}

.employees__img {
  width: 100%;
  max-width: 1180px;
  height: auto;
}

/* Capabilities section */
.capabilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 1396px;
  background-color: #fff;
}

.capabilities__container {
  margin-top: 182px;
}

.capabilities__container-title {
  margin-bottom: 27px;
}

.capabilities__title {
  text-align: center;
  margin-top: 115px;
}

.capabilities__text {
  margin-top: 26px;
}

.capabilities__cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1139px;
  height: 430px;
  margin-top: 18px;
}

/* Cards */
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 353px;
  height: 393px;
  background-color: #fbfaf7;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 20px #e9e4d5;
          box-shadow: 5px 5px 20px #e9e4d5;
}

.card--higher {
  max-height: 430px;
}

.card__inner {
  max-width: 273px;
  height: 293px;
  margin: 50px 40px;
}

.card__img {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.card__title {
  line-height: 31.5px;
  margin-top: 30px;
}

.card__list {
  margin-top: 23px;
}

.card__text {
  position: relative;
  margin-bottom: 15px;
  padding-left: 25px;
  font-size: 16px;
  font-family: "Noto Sans";
  line-height: 22px;
  color: #163a24;
}

.card__text::before {
  content: "";
  position: absolute;
  background-color: #163a24;
  top: 7px;
  left: 6px;
  height: 8px;
  width: 8px;
  border-radius: 8px;
}

/* Price section */
.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 602px;
  background-color: #f2efe6;
}

.price__title {
  width: 100%;
  max-width: 360px;
  margin: 114px auto 26px;
  text-align: center;
}

.price__text {
  text-align: center;
  padding: 0 15px;
  margin-bottom: 19px;
}

.price__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1125px;
  height: 180px;
}

.price__item {
  max-width: 260px;
  text-align: center;
}

.price__item-title {
  margin-top: 13px;
}

.price__item-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 290px;
  height: 183px;
  background-image: url(../sources/img/price/circles.png);
}

.price__background-text {
  width: 100%;
  max-width: 225px;
  text-align: center;
  margin-top: 40px;
}

.price__background-title {
  margin-top: 20px;
}

.price__btn {
  margin-top: 5px;
  width: 244px;
  margin-bottom: 15px;
}

/* Book section */
.book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 753px;
  background-color: #fff;
}

.book__container {
  margin-top: 130px;
}

.book__img {
  width: 100%;
  max-width: 490px;
  height: 490px;
}

.book__title {
  margin-bottom: 25px;
}

.book__text {
  margin-bottom: 19px;
}

.book__btn {
  width: 100%;
  max-width: 191px;
}

/* Starting section */
.starting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 415px;
  background-color: #163a24;
  overflow: hidden;
}

.starting__img-left {
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.starting__img-right {
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.starting__container {
  text-align: center;
}

.starting__title {
  margin-top: 114px;
}

.starting__text {
  margin-top: 26px;
}

.starting__btn {
  background-color: #fab5a0;
  color: #163a24;
  font-weight: 600;
  margin-top: 18px;
  width: 100%;
  max-width: 259px;
}

.starting__btn:hover {
  background-color: #af735f;
}

/* Subscription section */
.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 240px;
  background-color: #f2efe6;
}

.subscriprion__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1143px;
  height: 107px;
  margin: 60px 0 130px;
}

.subscription__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscription__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 592px;
}

.subscription__form {
  position: relative;
  width: 100%;
  max-width: 553px;
  height: 54px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscription__form-area {
  position: relative;
  padding-left: 20px;
  width: 100%;
  max-width: 525px;
  height: 54px;
  border: none;
  outline: none;
  font-family: "Noto Sans";
  font-size: 18px;
  border-radius: 255px;
}

.subscription__form-button {
  position: relative;
  top: -53px;
  left: 480px;
  width: 100%;
  max-width: 111px;
  background-color: #15762e;
}

.subscription__form-text {
  width: 100%;
  max-width: 524px;
  height: 42px;
}

.subscription__link {
  margin-left: 10px;
}

/* Footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 194px;
  background-color: #fff;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1180px;
  height: 123px;
}

.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 242px;
  height: 42px;
  text-align: center;
}

.footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 140px;
  height: auto;
}

.footer__hr {
  width: 100%;
  max-width: 1180px;
  height: 1px;
  background-color: #f2efe6;
  border: none;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1180px;
  height: 70px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 403px;
  height: 19px;
}

/* Large Devices, Wide Screens */
@media (max-width: 1200px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 24px;
  }
  .main-text {
    font-size: 18px;
    line-height: 27px;
  }
  .text {
    font-size: 14px;
    line-height: 21px;
  }
  .text-img-container {
    max-width: 940px;
  }
  /* Header */
  .header__content {
    height: 400px;
  }
  .header__container {
    padding-left: 50px;
  }
  .header__img {
    max-width: 543px;
  }
  /* Features section */
  .features__container {
    margin-top: 80px;
  }
  /* Capabilities Section */
  .capabilities {
    height: 1700px;
  }
  .capabilities__title {
    margin-top: 75px;
  }
  .capabilities__cards-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 800px;
  }
  .capabilities__cards-container .card:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  /* Cards */
  .card {
    margin: 0 15px 15px;
  }
  /* Price section */
  .price__container {
    padding: 15px 15px;
  }
  /* Subscription Section */
  .subscriprion__container {
    padding: 15px;
  }
  .subscription__form-text {
    padding-top: 15px;
  }
  /* Footer */
  .footer {
    padding: 0 15px;
  }
}

/* Medium Devices, Desktops ============================================*/
@media (max-width: 992px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  .main-text {
    font-size: 16px;
    line-height: 22px;
  }
  .text {
    font-size: 12px;
    line-height: 16px;
  }
  .link {
    font-size: 12px;
  }
  .text-img-container {
    width: 100%;
    max-width: 750px;
    padding: 15px;
  }
  .text-img-item--img-left-margin {
    margin-left: 30px;
  }
  .text-img-item--img-right-margin {
    margin-right: 55px;
  }
  .container-big-img {
    width: 100%;
    max-width: 300px;
    height: 300px;
  }
  .container-small-img {
    width: 100%;
    max-width: 300px;
    height: 230px;
  }
  /* Header */
  .header__content {
    height: 300px;
  }
  .header__container {
    max-width: 400px;
    padding-left: 40px;
  }
  .header__img {
    max-width: 407px;
  }
  .header__title {
    line-height: 55px;
  }
  /* Features section */
  .features {
    height: 850px;
  }
  .features__container {
    margin-top: 120px;
  }
  .features__title {
    max-width: 376px;
    margin-bottom: 27px;
    line-height: 54px;
  }
  /* Capabilities Section */
  .capabilities {
    height: 1500px;
  }
  /* Price section */
  .price {
    height: 900px;
  }
  .price__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 540px;
  }
  .price__arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    padding: 20px 0 20px;
  }
  .price__btn {
    margin-top: 35px;
  }
  /* Book */
  .book {
    height: auto;
  }
  .book__container {
    margin-top: 90px;
  }
  .book__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    max-width: 390px;
    height: auto;
  }
  .book__btn {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  /* Starting Section */
  .starting__img-left {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  .starting__img-right {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  /* Subscription Section */
  .subscriprion__container {
    width: auto;
  }
  .subscription__item {
    min-width: 250px;
    height: auto;
  }
  .subscription__text {
    padding-top: 15px;
  }
  .subscription__form-container {
    padding-left: 30px;
  }
  .subscription__form {
    max-width: 430px;
    height: 44px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .subscription__form-area {
    width: 100%;
    max-width: 405px;
    height: 44px;
    font-size: 18px;
    border-radius: 255px;
  }
  .subscription__form-text {
    max-width: 430px;
  }
  .subscription__form-button {
    position: relative;
    width: 100%;
    max-width: 111px;
    height: 44px;
    left: 360px;
    top: -44px;
  }
  .subscription__form-text {
    padding-top: 10px;
  }
  /* Footer */
}

/* Small Devices, Tablets ==================================================*/
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  .main-text {
    font-size: 16px;
    line-height: 22px;
  }
  .text {
    font-size: 13px;
    line-height: 16px;
  }
  .title {
    line-height: 30px;
  }
  .header__logo {
    max-width: 103px;
  }
  .text-img-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 750px;
    padding: 15px;
  }
  .text-img-item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    max-width: 280px;
    height: auto;
    text-align: center;
  }
  .text-img-item--img-left-margin {
    margin-left: 30px;
  }
  .text-img-item--img-right-margin {
    margin-right: 55px;
  }
  .container-big-img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-bottom: 10px;
  }
  .container-small-img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-bottom: 10px;
  }
  /* Header */
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: auto;
  }
  .header__container {
    max-width: 350px;
    padding-left: 30px;
    height: auto;
  }
  .header__img {
    max-width: 300px;
    height: auto;
  }
  .header__title {
    line-height: 33px;
  }
  /* Actions */
  .actions {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0 5px;
  }
  .actions__btn {
    width: 102px;
    height: 40px;
    font-size: 13px;
    padding: 14px 15px;
  }
  /* Features section */
  .features {
    height: 850px;
  }
  .features__container {
    margin-top: 50px;
  }
  .features__title {
    max-width: 333px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .text-img-item--img-left-margin {
    margin-left: 0px;
  }
  .text-img-item--img-right-margin {
    margin-right: 0px;
  }
  /* Partners */
  .partners {
    height: 320px;
  }
  .partner__title {
    margin-top: 85px;
    margin-bottom: 60px;
  }
  .partners__container {
    max-width: 600px;
  }
  .partners__logo {
    max-width: 80px;
  }
  /* Offers section */
  .offers {
    height: 380px;
  }
  .offers__img {
    max-width: 80px;
    max-height: 100px;
  }
  .offers__title {
    height: auto;
    margin: 44px auto;
  }
  /* Employees Section */
  .employees {
    height: 450px;
  }
  .employees__title {
    max-width: 450px;
    margin: 54px auto 27px;
  }
  .employees__text {
    padding-bottom: 10px;
  }
  /* Capabilities Section */
  .capabilities {
    height: auto;
  }
  .capabilities__container {
    margin-top: 90px;
  }
  .capabilities__cards-container {
    height: auto;
  }
  /* Cards */
  .card {
    max-width: 280px;
  }
  .card__inner {
    max-width: 273px;
    height: 353px;
    margin: 30px 20px;
  }
  /* Starting Section */
  .starting__container {
    width: 260px;
  }
  .starting__img-left {
    width: 100%;
    max-width: 70px;
  }
  .starting__img-right {
    width: 100%;
    max-width: 70px;
  }
  /* Subscription Section */
  .subscription {
    height: auto;
  }
  .subscriprion__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscription__form-container {
    max-width: 400px;
  }
  .subscription__item {
    text-align: center;
    padding-bottom: 20px;
  }
  .subscription__form {
    max-width: 380px;
    height: 40px;
  }
  .subscription__form-area {
    max-width: 303px;
    height: 40px;
  }
  .subscription__form-text {
    text-align: center;
  }
  .subscription__form-button {
    top: -40px;
    left: 270px;
    max-width: 91px;
    height: 40px;
    font-size: 13px;
    padding: 0;
  }
  .subscription__link {
    margin-left: 5px;
  }
  /* Footer */
  .footer {
    padding: 5px;
  }
  .footer__title {
    max-width: 153px;
  }
  .footer__media {
    max-width: 120px;
  }
  .footer__container {
    height: auto;
  }
  .footer__container .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-left: 5px;
  }
}

/* Extra Small Devices, Phones ================================================*/
@media (max-width: 426px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  .main-text {
    font-size: 14px;
    line-height: 18 px;
  }
  .text {
    font-size: 12px;
    line-height: 16px;
  }
  .link {
    font-size: 10px;
    line-height: 15px;
  }
  .link-btn {
    padding: 14px 20px;
  }
  .header__logo {
    display: none;
  }
  .text-img-container {
    max-width: 390px;
  }
  .text-img-item {
    max-width: 280px;
  }
  .text-img-item--img-left-margin {
    margin-left: 0px;
  }
  .text-img-item--img-right-margin {
    margin-right: 0px;
  }
  .container-big-img {
    max-width: 150px;
    height: auto;
  }
  .container-small-img {
    max-width: 200px;
    height: auto;
  }
  /* Header */
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 426px;
  }
  .header__container {
    max-width: 300px;
  }
  .header__img {
    max-width: 315px;
  }
  .header__title {
    line-height: 30px;
  }
  .header__text {
    max-width: 400px;
    margin-top: 12px;
  }
  /* Actions */
  .actions {
    max-width: 420px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .actions__list {
    max-width: 150px;
  }
  .actions__btn {
    font-size: 13px;
    max-width: 114px;
  }
  .actions__item {
    font-size: 13px;
    padding-right: 7px;
  }
  /* Features section */
  .features {
    height: 620px;
  }
  .features__title {
    max-width: 280px;
    line-height: 25px;
  }
  .features__container {
    margin-top: 40px;
  }
  /* Partners */
  .partners {
    height: 250px;
  }
  .partner__title {
    margin-top: 55px;
    margin-bottom: 30px;
  }
  .partners__container {
    max-width: 430px;
  }
  .partners__logo {
    max-width: 50px;
  }
  /* Offers section */
  .offers {
    height: 520px;
  }
  .offers__title {
    max-width: 280px;
  }
  .offers__container {
    width: 318px;
    padding: 0 8px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offers__item {
    padding-bottom: 10px;
  }
  /* Employees Section */
  .employees {
    height: 350px;
  }
  .employees__title {
    margin: 34px auto 17px;
  }
  /* Capabilities Section */
  .capabilities {
    height: auto;
  }
  .capabilities__container {
    margin-top: 90px;
  }
  .capabilities__cards-container {
    height: auto;
  }
  /* Cards */
  .card {
    max-width: 280px;
    max-height: 360px;
  }
  .card__text {
    font-size: 13px;
  }
  .card--higher {
    max-height: 380px;
  }
  .card__inner {
    max-width: 273px;
    height: 353px;
    margin: 30px 20px;
  }
  /* Price section */
  .price__title {
    margin: 74px auto 22px;
  }
  /* Book Section */
  .book__container {
    margin-top: 50px;
  }
  .book__img {
    margin-top: 20px;
    max-width: 280px;
  }
  /* Starting Section */
  .starting {
    height: 350px;
  }
  .starting__container {
    margin: 0 auto;
  }
  .starting__img-left {
    display: none;
  }
  .starting__img-right {
    display: none;
  }
  /* Subscription Section */
  .subscription__item {
    padding-bottom: 10px;
  }
  .subscription__form {
    max-width: 280px;
    height: 30px;
  }
  .subscription__form-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  .subscription__form-area {
    max-width: 260px;
    height: 30px;
    font-size: 13px;
  }
  .subscription__form-button {
    top: -30px;
    left: 195px;
    height: 30px;
  }
  /* Footer */
  .footer__media-logo {
    -o-object-fit: contain;
       object-fit: contain;
    width: 20px;
    height: 20px;
  }
  .footer__bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding: 15px 15px;
  }
  .footer__text {
    padding-right: 10px;
  }
}

/* Custom, iPhone Retina ====================================*/
@media (max-width: 320px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }
  .main-text {
    font-size: 12px;
    line-height: 15px;
  }
  .text {
    font-size: 10px;
    line-height: 16px;
  }
  /* Features Section */
  .features {
    height: 620px;
  }
  /* Offers section */
  .offers__container {
    width: 290px;
  }
}

/*  */
/*# sourceMappingURL=style.css.map */