* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  line-height: 1;
}

li {
  list-style-type: none;
}

p {
  display: block;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 2em;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  display: block;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  height: 100%;
  margin: 0;
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Recoleta Regular";
  src: url("../sources/fonts/Recoleta-Regular.eot");
  src: url("../sources/fonts/Recoleta-Regular.eot?#iefix") format("embedded-opentype"), url("../sources/fonts/Recoleta-Regular.woff") format("woff"), url("../sources/fonts/Recoleta-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../sources/fonts/NotoSans-hinted/NotoSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

.header {
  width: 1440px;
  height: 636px;
  background-color: #163a24;
}

.header__top {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 544px;
  width: 1440px;
  background-color: #163a24;
}

.header__container {
  height: 295px;
  width: 475px;
  margin: 120px 23px 129px 130px;
}

.header__img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 1400px;
  max-height: 738px;
}

.header__title {
  width: 380px;
  line-height: 66px;
}

.header__text {
  height: 81px;
  width: 475px;
}

.logo__header {
  margin: 20px 0px 20px 130px;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 680px;
}

.actions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.actions__item {
  margin-right: 24px;
  font-size: 16px;
  font-family: "Noto Sans";
  color: #fff;
  text-decoration: none;
}

.btn {
  height: 52px;
  background-color: #198c36;
  font-family: "Noto Sans";
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 160px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.actions__btn {
  width: 141px;
}

.title {
  font-size: 48px;
  color: #fff;
  font-family: "Recoleta Regular";
  line-height: 54px;
}

.main-text {
  font-family: "Noto Sans";
  font-size: 18px;
  color: #fff;
  line-height: 27px;
}

.main-text--color {
  color: #163a24;
}

.title--color {
  color: #163a24;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1440px;
  height: 1466px;
  background-color: #fff;
}

.features__top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 905px;
  height: 490px;
  margin-top: 120px;
}

.features__bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 990px;
  height: 420px;
}

.features__top-item {
  height: 189px;
  width: 376px;
  margin-left: 90px;
}

.features__bottom-item {
  width: 380px;
  margin-right: 110px;
}

.features__title {
  width: 376px;
  margin-bottom: 27px;
  line-height: 54px;
}

.main-big-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 490px;
  height: 490px;
}

.main-small-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 490px;
  height: 420px;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  width: 896px;
}

.partners--margin {
  margin-top: 116px;
}

.partner__title {
  margin-bottom: 66px;
}

.partners__container {
  width: 896px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */