@import "./_normalize";
@font-face {
  font-family: "Recoleta Regular";
  src: url("../sources/fonts/Recoleta-Regular.eot");
  src: url("../sources/fonts/Recoleta-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../sources/fonts/Recoleta-Regular.woff") format("woff"),
    url("../sources/fonts/Recoleta-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url(../sources/fonts/NotoSans-hinted/NotoSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
.header {
  width: 1440px;
  height: 98px;
  background-color: #163a24;
}
.header__top {
  display: flex;
}
.logo__header {
  margin: 20px 0px 20px 130px;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 680px;
}
.actions__list {
  display: flex;
  justify-content: space-between;
}
.actions__item {
  margin-right: 24px;
  font-size: 16px;
  font-family: "Noto Sans";
  color: #fff;
  text-decoration: none;
}
.btn {
  height: 52px;
  background-color: #198c36;
  font-family: "Noto Sans";
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 160px;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.actions__btn {
  width: 141px;
}
.header__content {
  position: relative;
  height: 544px;
  width: 1440px;
  background-color: #163a24;
  display: flex;
}
.left-container {
  height: 295px;
  width: 475px;
}
.left-container--header-margin {
  margin: 120px 23px 129px 130px;
}
.title {
  font-size: 48px;
  color: #fff;
  font-family: "Recoleta Regular";
  line-height: 54px;
}
.title-header {
  width: 380px;
  line-height: 66px;
}
.main-text {
  font-family: "Noto Sans";
  font-size: 18px;
  color: #fff;
  line-height: 27px;
}
.right-container {
  height: 738px;
  width: 1025px;
}
.header__img-figures {
  object-fit: contain;
  max-width: 1025px;
  max-height: 738px;
}
.features {
  width: 1440px;
  height: 1466px;
  // background-color: #fff;
}
