@import "./_normalize";
@import "./vars";
@font-face {
  font-family: "Recoleta Regular";
  src: url("../sources/fonts/Recoleta-Regular.eot");
  src: url("../sources/fonts/Recoleta-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../sources/fonts/Recoleta-Regular.woff") format("woff"),
    url("../sources/fonts/Recoleta-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Recoleta Medium";
  src: url("../sources/fonts/Recoleta-Medium.eot");
  src: url("../sources/fonts/Recoleta-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../sources/fonts/Recoleta-Medium.woff") format("woff"),
    url("../sources/fonts/Recoleta-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
.title {
  color: $text-color;
  font-family: "Recoleta Medium";
  font-weight: bold;
}
.main-text {
  font-family: "Noto Sans";
  font-size: 18px;
  color: $text-color;
  line-height: 27px;
}
.text {
  font-family: "Noto Sans";
  font-size: 14px;
  color: $text-color;
  line-height: 21px;
}
.text--color {
  color: $primary-color;
}
.main-text--color {
  color: $primary-color;
}
.title--color {
  color: $primary-color;
}
.link {
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 400;
  color: $btn-color;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.btn {
  height: 52px;
  background-color: $btn-color;
  font-family: "Noto Sans";
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 15px 25px;
  transition: 0.3s;
  cursor: pointer;
}
.link-btn {
  display: inline-block;
  height: auto;
  background-color: $btn-color;
  font-family: "Noto Sans";
  font-size: 16px;
  color: #fff;
  border-radius: 160px;
  padding: 17px 25px;
  text-decoration: none;
  transition: 0.3s;
  white-space: nowrap;
}
.btn:focus {
  outline: none;
}
.btn:hover,
.link-btn:hover {
  background-color: #04611b;
}
.text-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 990px;
}
.text-img-item {
  height: 190px;
  width: 380px;
}
.text-img-item--img-left-margin {
  margin-left: 90px;
}
.text-img-item--img-right-margin {
  margin-right: 115px;
}
.container-big-img {
  width: 100%;
  max-width: 490px;
  height: 490px;
}
.container-small-img {
  width: 100%;
  max-width: 490px;
  height: 420px;
}
.logo__link {
  display: block;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  width: 100%;
  height: 98px;
  padding: 5px;
}
.logo__header {
  object-fit: contain;
  width: 100%;
  max-width: 153px;
  height: auto;
  min-width: 105px;
}
.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 544px;
  width: 100%;
  max-width: 1180px;
  background-color: $primary-color;
}
.header__container {
  max-width: 475px;
  width: 100%;
  height: 320px;
  margin-right: 12px;
  padding: 10px;
}
.header__img {
  object-fit: contain;
  width: 100%;
  max-width: 738px;
  height: auto;
}
.header__title {
  line-height: 66px;
  max-width: 391px;
  width: 100%;
  height: auto;
}
.header__text {
  width: 100%;
  max-width: 375px;
  height: auto;
  margin-top: 18px;
}

/* Actions section */

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 341px;
}
.actions__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 176px;
  white-space: nowrap;
}
.actions__item {
  font-size: 16px;
  font-family: "Noto Sans";
  color: #fff;
  text-decoration: none;
}
.actions__btn {
  width: 100%;
  max-width: 141px;
}

/* Features section */

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1050px;
  background-color: #fff;
}
.features__container {
  margin-top: 120px;
}
.features__title {
  margin-bottom: 27px;
  line-height: 54px;
}

/* Partners section */

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 415px;
  width: 100%;
  max-width: 896px;
  margin: 0 auto;
}
.partner__title {
  margin-top: 115px;
  margin-bottom: 66px;
}
.partners__container {
  display: flex;
  width: 100%;
  max-width: 896px;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.partners__logo {
  width: 100%;
  max-width: 110px;
  height: 100%;
}
.partners__img {
  width: 100%;
  max-width: 110px;
}

/* Offers section */

.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 568px;
  background-color: $primary-color;
}
.offers__title {
  height: 60px;
  margin: 66px auto;
  text-align: center;
}
.offers__container {
  display: flex;
  justify-content: space-around;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.offers__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.offers__img {
  object-fit: contain;
  margin-bottom: 28px;
}

/* Employees section */

.employees {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 775px;
  background-color: #f2efe6;
}
.employees__title {
  width: 100%;
  max-width: 739px;
  margin: 114px auto 27px;
  padding: 0 15px;
  text-align: center;
}
.employees__text {
  width: 100%;
  max-width: 760px;
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
}
.employees__img {
  width: 100%;
  max-width: 1180px;
  height: auto;
}

/* Capabilities section */

.capabilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1396px;
  background-color: #fff;
}
.capabilities__container {
  margin-top: 182px;
}
.capabilities__container-title {
  margin-bottom: 27px;
}
.capabilities__title {
  text-align: center;
  margin-top: 115px;
}
.capabilities__text {
  margin-top: 26px;
}
.capabilities__cards-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1139px;
  height: 430px;
  margin-top: 18px;
}

/* Cards */

.card {
  display: flex;
  width: 353px;
  height: 393px;
  background-color: $text-color;
  border-radius: 15px;
  box-shadow: 5px 5px 20px #e9e4d5;
}
.card--higher {
  max-height: 430px;
}
.card__inner {
  max-width: 273px;
  height: 293px;
  margin: 50px 40px;
}
.card__img {
  align-self: start;
}
.card__title {
  line-height: 31.5px;
  margin-top: 30px;
}
.card__list {
  margin-top: 23px;
}
.card__text {
  position: relative;
  margin-bottom: 15px;
  padding-left: 25px;
  font-size: 16px;
  font-family: "Noto Sans";
  line-height: 22px;
  color: $primary-color;
}
.card__text::before {
  content: "";
  position: absolute;
  background-color: $primary-color;
  top: 7px;
  left: 6px;
  height: 8px;
  width: 8px;
  border-radius: 8px;
}

/* Price section */

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 602px;
  background-color: #f2efe6;
}
.price__title {
  width: 100%;
  max-width: 360px;
  margin: 114px auto 26px;
  text-align: center;
}
.price__text {
  text-align: center;
  padding: 0 15px;
  margin-bottom: 19px;
}
.price__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1125px;
  height: 180px;
}
.price__item {
  max-width: 260px;
  text-align: center;
}
.price__item-title {
  margin-top: 13px;
}
.price__item-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 290px;
  height: 183px;
  background-image: url(../sources/img/price/circles.png);
}
.price__background-text {
  width: 100%;
  max-width: 225px;
  text-align: center;
  margin-top: 40px;
}
.price__background-title {
  margin-top: 20px;
}
.price__btn {
  margin-top: 5px;
  width: 244px;
  margin-bottom: 15px;
}

/* Book section */

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 753px;
  background-color: #fff;
}
.book__container {
  margin-top: 130px;
}
.book__img {
  width: 100%;
  max-width: 490px;
  height: 490px;
}
.book__title {
  margin-bottom: 25px;
}
.book__text {
  margin-bottom: 19px;
}
.book__btn {
  width: 100%;
  max-width: 191px;
}

/* Starting section */

.starting {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 415px;
  background-color: $primary-color;
  overflow: hidden;
}
.starting__img-left {
  object-fit: contain;
  align-self: flex-end;
}
.starting__img-right {
  object-fit: contain;
  align-self: flex-end;
}
.starting__container {
  text-align: center;
}
.starting__title {
  margin-top: 114px;
}
.starting__text {
  margin-top: 26px;
}
.starting__btn {
  background-color: #fab5a0;
  color: $primary-color;
  font-weight: 600;
  margin-top: 18px;
  width: 100%;
  max-width: 259px;
}
.starting__btn:hover {
  background-color: #af735f;
}

/* Subscription section */

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 240px;
  background-color: #f2efe6;
}
.subscriprion__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1143px;
  height: 107px;
  margin: 60px 0 130px;
}
.subscription__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.subscription__form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 592px;
}
.subscription__form {
  position: relative;
  width: 100%;
  max-width: 553px;
  height: 54px;
  box-sizing: border-box;
}
.subscription__form-area {
  position: relative;
  padding-left: 20px;
  width: 100%;
  max-width: 525px;
  height: 54px;
  border: none;
  outline: none;
  font-family: "Noto Sans";
  font-size: 18px;
  border-radius: 255px;
}
.subscription__form-button {
  position: relative;
  top: -53px;
  left: 480px;
  width: 100%;
  max-width: 111px;
  background-color: #15762e;
}
.subscription__form-text {
  width: 100%;
  max-width: 524px;
  height: 42px;
}
.subscription__link {
  margin-left: 10px;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 194px;
  background-color: #fff;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1180px;
  height: 123px;
}
.footer__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 242px;
  height: 42px;
  text-align: center;
}
.footer__media {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 140px;
  height: auto;
}
.footer__hr {
  width: 100%;
  max-width: 1180px;
  height: 1px;
  background-color: #f2efe6;
  border: none;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1180px;
  height: 70px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 403px;
  height: 19px;
}
@import "./media-queries";
